@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');

@import 'node_modules/nostromo-css/sass/helpers/variables';
@import 'node_modules/nostromo-css/sass/helpers/theme';

$rgba-primary-0: rgba(32, 61, 105, 1); // Main Primary color */
$rgba-primary-1: rgba(90, 116, 155, 1);
$rgba-primary-2: rgba(54, 83, 126, 1);
$rgba-primary-3: rgba(13, 39, 79, 1);
$rgba-primary-4: rgba(4, 23, 51, 1);

$myColors: (
  'primary': $rgba-primary-0,
  'secondary': $rgba-primary-1,
  'tertiary': $rgba-primary-2,
);

$myFonts: (
  'primary': 'Roboto',
);

$colors: map-merge($colors, $myColors);
$fonts: map-merge($fonts, $myFonts);
